.typewriter{
    color:#FFA629;
    font-family: 'Orbitron','Roboto Mono';
    text-transform: uppercase;
    font-stretch: extra-expanded;
    font-size: xx-large;
    margin-left: 5em;
    width: 20vw;

}