.title{
    color: #FFA629;
}
.container{
    position:relative;
}
.themes{
    display: flex;
    flex-direction:column;
    align-items: center;
}

.list-content{
    width: 50vw;
    height: 75vh;
    background-color:#FFA629 ;
    padding: 1vw 0;
    border-radius: 5px;

    .list-paragraph{
        background-color: #ffff;
        margin: 0 2vw;
        color: #1e1e1e;
        border-radius: 5px;

        ul {
            display: flex;
            list-style: none;
            justify-content: space-between;
            align-items: center;
            height: 3em;
            padding: 0 40px;
        }
    }

}
.plus {
    margin: 1vh;
    cursor: pointer;
}
.overlay-visible {
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 1;
    background-color: rgba(30,30,30,.8);
}