.title{
    color:#FFA629;
    font-family: 'Roboto Mono';
    font-weight: lighter;
}
.content{
    padding: 2.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-list{
    background-color: white;
    width: 25vw;
    height: 70vh;
    border-radius: 5px;
    overflow: auto;
}
.content-list > p{
    background-color: #757575;
    padding: 10px;
    margin: 20px 12px;
    border-radius: 2.5px;
    color: white;
}
::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: #FFA629; 
    border-radius: 10px;
  }
