.create-theme{
    position: absolute;
    right: 28.25vw;
    bottom: 4vh; 
    background-color: #1e1e1e;
    padding: 2em;
    border: solid 2px #FFA629;
    border-radius: 5px;
    z-index: 2;

    
    .add-theme{
    width: 40vw;
    height: 70vh;
    position: relative;

        h2{
            color:#FFA629;
            font-family: 'Roboto Mono';
            font-weight:lighter;
            font-size:xx-large;
        }

        input[type="text"] {
            width: 35vw;
            height: 3em;
            border: none;
            border-radius: 5px;
            font-size: larger;
        }

        input[type="text"]:focus{
            outline: solid 2.5px #FFA629;

        }

        input[type="submit"] {
            width: 5em;
            position: absolute;
            left: 18vw;    
            margin-top:15px;
            padding: 10px;
            background-color: #FFA629;
            border: none;
            font-size: large;
            color:white;
            border-radius: 5px;
            cursor: pointer;
        }
        

    }
    .close-button{
        position: absolute;
        border-radius: 100%;
        background-color: rgb(30, 30, 30);
        padding: 10px;
        top: 0;
        left: 50vw;
        cursor: pointer;
        border:solid 2px #FFA629;

    }
}
